/* Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
}

img,
svg,
picture,
video {
    max-width: 100%;
}

/* Utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

/* Header style */

header {
    background-color: #7B9AA4;
    height: 100px;
    padding: 20px;
}

.bar {
    background-color: #DAA520;
    height: 50px;
}

.h-column {
    border: 3px dashed black;
    flex-grow: 1;
    text-align: center;
}

nav {
    padding: 10px 20px;
    border: 3px dashed black;
    flex-grow: 3;
    text-align: center;
}

/* Main sections style */

/* TOP */

.top {
    height: 500px;
    background-color: #00008B;
    padding-top: 50px;
}

.intro {
    height: 400px;
    background-color: #EE82EE;
    margin: 0 300px;
}

/* MID */

.midbox {
    height: 500px;
    padding-top: 50px;
}

.midcolumn-left {
    background-color: #1E90FF;
    border: 3px dashed black;
    height: 400px;
    flex-grow: 2;
}

.midcolumn-right {
    background-color: #FFC0CB;
    border: 3px dashed black;
    height: 400px;
    flex-grow: 1;
}

.midrevbox {
    height: 500px;
    padding-top: 50px;
}

.midcolumnrev-left {
    background-color: #FFC0CB;
    flex-grow: 1;
    border: 3px dashed black;
    height: 400px;
}

.midcolumnrev-right {
    background-color: #1E90FF;
    border: 3px dashed black;
    height: 400px;
    flex-grow: 2;
}

.midrev {
    background-color: #D3D3D3;
}

/* BIG */

.big {
    height: 1000px;
    background-color: #D3D3D3;
    padding-top: 50px;
}

.macro {
    height: 900px;
    background-color: #228B22;
}

/* BOT */

.bot {
    background-color: #23272A;
}

.botbox {
    height: 500px;
    padding-top: 30px;
}

.botcolleft {
    height: 450px;
    border: 3px dashed black;
    background-color: #F08080;
    flex-grow: 2;
}

.botcol {
    height: 450px;
    border: 3px dashed white;
    background-color: #20B2AA;
    flex-grow: 1;
}

/* Footer style */

footer {
    background-color: #23272A;
    border-top: 2px solid white;
    height: 100px;
    padding-top: 20px;
}

.controls {
    height: 80px;
    background-color: #7FFFD4;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    background-color: #FFB6C1;
    border: 3px dashed black;
    padding: 10px;
}